extends layout

block content
 .lead 
 .row
 .text-center
  div(data-role="header")
  h1 Become the King of the world !
  h2 Expand your reign with your intelligence!
 div(data-role="main" class="ui-content")
    div(id="globe")
      img(src="images/globe.jpg")
    
    a(href="/" class="ui-btn") Back
    
 div(data-role="footer")
    center
        p VikingQuest© 2015
