extends layout

block content
  div(data-role="header" class="lead header-index")
    center
      h1 VikingQuest
  div(data-role="main" class="ui-content")
    div(id="viking")
      img(src="images/viking.png")
    a(href="/auth/facebook" data-role="button") Login with Facebook
    a(href="howtoplay" data-role="button") How To Play
  div(data-role="footer")
    center
      h5 VikingQuest© 2015