doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/jquery_mobile/jquery.mobile-1.4.5.css')
    link(rel='stylesheet', href='/stylesheets/jquery_mobile/jquery.mobile.structure-1.4.5.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    div(data-role="page")
      div(data-role="header")
        h1 VikingQuest
      block content
      div(data-role="footer")
        center
          p VikingQuest© 2015
    script(src='/javascripts/jquery/jquery-2.1.3.js')
    script(src='/javascripts/jquery_mobile/jquery.mobile-1.4.5.js')
    script(src='/javascripts/bootstrap/bootstrap.js')
