extends layout

block content
  div(class="jumbotron")
    center
      h1 Come On ! 
      h2 You are almost in the Top 50 !
  div(data-role="main" class="ui-content")
    div(id="gameover")
      img(src="/images/gameover.jpg")
    div(class="row")    
      div(class="col-xs-6")
        center
          p Try to conquer again
          h4=AREA_NAME
      div(class="col-xs-6")
        center
          p Or you can move your ass to the next area to conquer!  
    div(class="row") 
      div(class="col-xs-6 btn btn-danger")
        a(id="link_new_area_play" href="/quiz" class=" mywrap") Fight again!
      div(class="col-xs-6 btn btn-primary")
        a( id="link_new_area_play" href="/play" class=" mywrap" ) I'm in a new area, let's play!
    div(class="row text-center") 
      center
        div(class="col-xs-offset-2 col-xs-8 btn btn-warning text-center")
            a( id="link_back_homepage" href="/" class=" mywrap" ) Save and Back to HomePage!