extends layout

block content
  div(id="quiz-container")
    div(id="question-container")
    div(class="ui-grid-a")
      div(class="ui-block-a")
        button(class="ui-btn question-btn") Option 1
        button(class="ui-btn question-btn") Option 2
      div(class="ui-block-b")
        button(class="ui-btn question-btn") Option 3
        button(class="ui-btn question-btn") Option 4
