#viking {
  margin-left: auto;
  margin-right: auto;
}
#globe {
  margin-left: auto;
  margin-right: auto;
}

/*
 * Auto scale images to fit different mobile screen
 */
img
{
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

#map-canvas {
  height: 50vw;
  margin: 0px;
  padding: 0px;
}

/*
 * TODO styling for question alternative buttons
 */
#question-btn {
}

.question-container {
}
