#viking {
  margin-left: auto;
  margin-right: auto;
}

/*
 * Auto scale images to fit different mobile screen
 */
img
{
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

